body {
                font-family: "Courier New";
                background-color: #9F3548;
                text-align: center;
            }
            div.welcomeText {
            	display: inline-block;
    			vertical-align: middle;
    			padding: 20px 0 0 20px;
    			color:darkcyan;
            }
            h1{
            	color: #50000E;
                text-align: center;      
            }

            h2,
            h3,
            h4 {
                color: #50000E;
                text-align: center;

            }
            
            p.one{
                color: #EF9FAF;
                text-align: center;
                text-indent: 66px;
                border-style:dotted;
            }
            
            h5 {
                color: #50000E;
                text-align: center;
                text-shadow: 1px 1px 3px #666666;
            }
            
            a:link {
                color: deeppink;
                text-decoration: none;
                text-align: center;
            }
            
            a:visited {
                color: black;
                text-decoration: none;
                text-align: center;
            }
            
            a:hover {
                color: deeppink;
                text-decoration: underline;
                text-align: center;
            }
            
            a:active {
                color: darkcyan;
                text-decoration: none;
                text-align: center;
            }
            /*DROPDOWN MENU FOR PROJECTS*/
            .dropbtn {
                background-color: grey;
                color: #4CAF50;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {background-color: #f1f1f1}

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }
            /*  .box {
            display: inline-block;
            height: 200px;
            width: 33.3%;
            float: left;
            position: relative;
            margin:0 -4px -5px -2px;
            transition: all .2s ease;*/
        }